# Supabase Configuration
# Replace with your project URL and anon public key from your Supabase Project Settings -> API
VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-public-key
#&7Sb]F'?#T?dqj_